# Ignore project-specific cache directory
.gradle
./buildSrc/.gradle
./buildSrc/.kotlin

# Ignore Gradle build output directory
.build
./individuals-api/build
./user-service/build
./common-dto/build
./buildSrc/build

# Ignore Idea specific directory
.idea

# Ignore application secrets files
./individuals-api/src/main/resources/application-secrets.yaml
./individuals-api/src/main/resources/application-keycloak-secrets.yaml
./user-service/src/main/resources/application-secrets.yaml
./user-service/src/main/resources/application-keycloak-secrets.yaml
./common-configs/application-keycloak-secrets.yaml
