<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="json_appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <threadName />
                <message />
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="json_appender"/>
    </root>
</configuration>